<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Cadastro
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content">
    <div style="text-align: center">
      <p>CREATE ACCOUNT</p>
    </div>
    <div class="logindiv">
      <ion-list>
        <ion-item>
          <ion-label position='floating'>E-mail</ion-label>
          <ion-input type="text" [(ngModel)]="user.email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position='floating'>Senha</ion-label>
          <ion-input [(ngModel)]="user.senha" type="password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position='floating'>Confirmar Senha</ion-label>
          <ion-input [(ngModel)]="user.cfSenha" type="password"></ion-input>
        </ion-item>
      </ion-list>

      <ion-button class="create" expand="block" (click)="createAccount()">Create Account</ion-button>

    </div>
  </div>

</ion-content>