<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Despesas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card color="light">
  <ion-card-header>
    <ion-card-subtitle>Despesas Fixas</ion-card-subtitle>
    <ion-card-title>R$ {{totaldFixas}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-button color="primary" data-tipo="Fixo" (click)="novoDespesa($event)" expand="full">Novo</ion-button>
    <ion-button color="medium" data-id="{{idDoc}}" expand="full" (click)="goDetalheFixo($event)">ver detalhamento</ion-button>
  </ion-card-content>
</ion-card>
  
<ion-card color="light">
  <ion-card-header>
    <ion-card-subtitle>Despesas Inesperadas</ion-card-subtitle>
    <ion-card-title>R$ {{totalInesperadas}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-button color="primary" data-tipo="Inesperado" (click)="novoDespesa($event)" expand="full">Novo</ion-button>    
    <ion-button color="medium" data-id="{{idDoc}}" expand="full" (click)="goDetalheInesperado($event)">ver detalhamento</ion-button> 
  </ion-card-content>
</ion-card>

