<ion-header>
  <ion-toolbar color="dark">
    <ion-title>
      Configurações
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list lines="full">
      <ion-item>
        <ion-label >
          Usuario
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label >
          Compartilhar
        </ion-label>
      </ion-item>
      <ion-item (click)="logout()">
        <ion-label >
          Logout
        </ion-label>
      </ion-item>
    </ion-list>
</ion-content>
